/* Presentation */

.presentation {
    padding: 50px 15%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
}

.presentation--notices {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.presentation__image {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.presentation__image img {
    height: 100%;
    object-fit: cover;
}

.presentation__container {
    padding: 10%;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.presentation--paragraph {
    font-size: 2rem;
}

.presentation--button, .articles--button {
    margin: 0 auto 0 0;
}

/* Contacts */

.contacts {
    grid-template-columns: 1fr 1fr;
}

/* Home */

.home__main {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.home__section {
    grid-column: 2 / 4;
}

.home__section--title {
    margin: 0;
    font-size: 5rem;
}

/* Profile */

.profile__presentation {
    grid-template-columns: 1fr 2fr;
}