
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');

/* Variables */

:root {
    --primary-color: #47cfac;
    --secundary-color: #e6e9ed;
    --only-dark : rgb(32, 32, 32);
    --only-light: rgb(255, 247, 247);
}

/* General */

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

a {
    color: #000;
    text-decoration: none;
}

.button {
    height: 50px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}

.button:hover {
    cursor: pointer;
}

/* Body */

.body--home {
    height: 100vh;
}

/* Header */

.header {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.header__social {
    padding: 0px 10%;
    background-color: var(--primary-color);
}

.social__icons {
    margin: 0 auto;
    max-width: 300px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icons__link {
    color: var(--only-light);
}

.icons__link:hover {
    color: var(--only-dark);
}

.header__nav {
    padding: 0px 10% 0px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    background-color: var(--only-light);
}

.logo__link img {
    width: 200px;
}

.nav__perfil {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.perfil__link {
    font-size: 1.6rem;
    border-bottom: 1px solid var(--only-dark);
}

.perfil__link:hover {
    background-color: var(--only-dark);
    color: var(--only-light);
}

/* Home - Main */

.home__main {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: fixed;
    left: 0;
    right: 0;
    background-image: url(../assets/img/Cover.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home__section {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    grid-row: 1 / 2;
    align-self: end;
    gap: 50px;
}

.home__section--title {
    margin: 0 10%;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 0.5rem;
    text-align: center;
    color: var(--only-light);
}

.home--button {
    margin: 0 auto;
    border: none;
    font-weight: bold;
    background-color: var(--primary-color);
    color: var(--only-light);
}

.home--button:hover {
    background-color: var(--only-light);
    color: var(--only-dark);
}

/* Blogs - Main */

.blogs__presentation {
    padding: 25px 10%;
    display: grid;
    gap: 25px;
    background-color: var(--secundary-color);
}

.blogs--notices {
    margin: 0;
    font-size: 2rem;
    font-weight: bold;
    color: var(--only-dark);
}

.blogs__image img {
    width: 100%;
}

.blogs__container {
    display: grid;
    gap: 25px;
}

.blogs--title {
    margin: 0;
    font-size: 3rem;
    font-weight: bold;
    color: var(--only-dark);
}

.blogs--paragraph {
    margin: 0;
    font-size: 1.6rem;
    color: var(--only-dark);
}

.blogs--button {
    margin: 0 auto;
    font-size: 1.6rem;
    border: 2px solid var(--primary-color);
    color: var(--only-dark);
}

.blogs--button:hover {
    border-color: transparent;
    background-color: var(--only-dark);
    color: var(--only-light);
}
